.Rproj.user
.Rhistory
.RData
.DS_Store
.Ruserdata
.DS_store

*.xlsx
*.xls
*.csv
*.png
*.pptx

*_secrets
*Data
*Dataout
*Images
*Graghics
*GIS
*_secrets

#nothing from these folders
AI/*
GIS/*
Images/*
Graphics/*"
#no data
*.csv
*.txt
*.rds
*.xlsx
*.xls
*.zip
*.png
*.twbx
*.pptx

#nothing from these folders
AI/*
GIS/*
Images/*
Graphics/*
#no data
*.csv
*.txt
*.rds
*.xlsx
*.xls
*.zip
*.png
*.twbx
*.pptx

#nothing from these folders
AI/*
GIS/*
Images/*
Graphics/*